body {
    background-image: url("../img/klmlogin.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: #003145;
}

.container {
    width: 700px;
    height: 400px;
    text-align: center;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 250px;
}

.container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
    height: 35px;
    width: 300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: #fff;
    padding-left: 20px;
}

.btn-login {
    padding: 15px 25px;
    width: 200px;
    color: #fff;
    border-radius: 16px;
    border: none;
    background-color: #E37222;
}

.btn-login:hover {
    background: #C2DEEA;
    color: #E37222;
}

header {
    width: 100%;
    height: 85px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    color: white;
    border-bottom: #E37222 3px solid;
}

header #google_translate_element {
    float: right;
    margin-top: 3px;
}

.logo img {
    height: auto;
    max-height: 70px;
    margin-left: 10px;
    margin-top: 10px;
}

.form-input input {
    color: #BDBFBF;
}

.goog-te-gadget {
    margin-top: 7px;
}

.goog-te-banner-frame {
    display: none !important;
}
